{% extends "users/base.html" %}
{% block body %}


<div class="container mx-auto">
  <h2 class="mb-2 text-2xl text-left font-bold tracking-tight text-gray-900 dark:text-white">Change Password</h2>
  <!-- Error handling -->

  <div class="error-container text-red-500 px-10">
    {% if form.errors %}
      {% for field in form %}
        {{  field.errors }}
      {% endfor %}
    {% endif %}
  </div>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-6">
      <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Old Password</label>
      <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="" />
      {{ form.old_password }}
    </div>

    <div class="mb-6">
      <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New Password</label>
      <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
      {{ form.new_password1 }}
    </div>

    <div class="mb-6">
      <label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm Password</label>
      <input type="password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
      {{ form.new_password2 }}
    </div>

    <button type="submit" class="w-full bg-green-500 hover:bg-green-700 text-white font-medium py-2 px-4 rounded-lg">Update</button>

  </form>
</div>

{% endblock %}