{% extends "users/base.html" %}
{% block body %}


<div class="container mx-auto">
  <h2 class="mb-2 text-2xl text-left font-bold tracking-tight text-gray-900 dark:text-white">Change Password</h2>
  <!-- Error handling -->

  <div class="error-container text-red-500 px-10">
    {% if form.errors %}
      {% for field in form %}
        {{  field.errors }}
      {% endfor %}
    {% endif %}
  </div>
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-6 form-group">
      <label for="old_password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Old Password</label>
      {{ form.old_password }}
    </div>

    <div class="mb-6 form-group">
      <label for="new_password1" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">New Password</label>
      {{ form.new_password1 }}
    </div>

    <div class="mb-6 form-group">
      <label for="new_password2" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Confirm Password</label>
      {{ form.new_password2 }}
    </div>

    <button type="submit" class= "bg-green-500 hover:bg-green-700 text-white font-medium py-2 px-4 rounded-lg">Confirm</button>

  </form>
</div>


{% endblock %}